@import '~bootstrap/scss/bootstrap';

#jumbo {
    background-image: url(../images/jumbotron.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;

    #current {
        position: absolute;
        bottom: -10px;
        left: 50px;
        color: white;
        padding: 15px;
        border: none;
    }
}

#blue {
    background-color: rgb(94, 94, 244);

    div {

        img {
            width: 100px;
        }
    }
}

#primofoo {
    padding: 20px;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    height: 60vh;
    overflow-y: hidden;

    .liste {
        margin-top: 50px;
        ;
    }
}